/* фоновое видео */
.bgVideo {
	position: relative;
	height: 150vh;
	width: 100%;
}
.bgVideo video {
	height: 100%;
	width: 100%;
	filter: brightness(0.4);
	object-fit: cover;
	object-position: center center;
}
.bgVideo>h1 {
	margin: 0 auto;

	position: absolute;
    top: 34%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
	/* шрифт */
	/*font-family: "Russo One";*/
	color: white;
	font-weight: 400;
	font-size: 64px;
}

.bgVideo span{
	color: var(--blue-light);
	text-shadow: 0px 0px 10px var(--blue-light);
}
.bgVideo--footer{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	bottom: 0;

}
.bgVideo--footer>p {
	font-family: 'Russo One';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: white;
}
.bgVideo--block{
	margin-bottom: 30px;
	color: white;
	width: 300px;
}
.bgVideo--container{
	width: 80%;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	height: 350px;
	padding: 40px 0;
}
.bgVideo--container>h1{
	font-family: 'Russo One';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 77px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	width: 46%;
}

.bgVideo--link{
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	height: 100%;
	width: 50%;
	margin-bottom: 15px;
}

.bgVideo--arrow {
	position: absolute;
	top: 34%;
	
	display: flex;
	flex-direction: column;

	background-repeat: no-repeat;
	background-position: 0 center, 0 center ;
	cursor: pointer;
	text-transform: uppercase;
}
.bgVideo--arrow>p {
	font-family: "Russo One",sans-serif;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	color: white;
	margin: 0;
}
.bgVideo--arrow:nth-of-type(1){
	left: 40px;
	align-items:flex-end
}
.bgVideo--arrow:nth-of-type(2){
	right: 40px;
	align-items:flex-start
}
.bgVideo--arrowLeft {
	background: url(../../images/svg/bgArrow/arrow_left.svg) ;
	width: 200px;
	height: 55px;
}
.bgVideo--arrowRight {
	width: 200px;
	height: 55px;
	background: url(../../images/svg/bgArrow/arrow_right.svg) ;
}
.bgVideo--arrowDown {
	position: relative;
	width: 25px;
	height: 65px;
	background: url(../../images/svg/bgArrow/arrow_down.svg) ;

	margin-bottom: 40px;
}


@keyframes down {
	100% {background-position: center -190%}
}
@-webkit-keyframes down {
	100% {background-position: center -190%}
}
@-o-keyframes down {
	100% {background-position: center -190%}
}
@-moz-keyframes down {
	100% {background-position: center -190%}
} 

@media screen and (max-width: 1100px) {
	.bgVideo--block{
		min-width: 150px;
		max-width:none;
	}
	.bgVideo h1{
		font-size: 30px;
	}
}
@media screen and (max-width: 900px) {
	.bgVideo--arrowLeft,.bgVideo--arrowRight{
		display: none;
	}
	.bgVideo h1{
		font-size: 30px;
	}
	.bgVideo--footer{
		flex-wrap: wrap;
	}
	.bgVideo--block{
		width: 200px;
		margin: 10px ;
	}
	.bgVideo--block-blue{
		width: 400px;
		margin: 10px 0 10px 10px;
	}
	.bgVideo--block-double{
		margin: 10px 0;
		width: 200px;
	}
	.bgVideo--block-double .bgVideo--block{
		max-width: none;
		width: 100%;
	}
}
@media screen and (max-width: 750px) {
	.bgVideo--footer :nth-child(3){
		display:none;
	}
	.bgVideo--block-blue{
		margin: 10px;
	}
}
@media screen and (max-width: 650px) {
	.bgVideo h1{
		font-size: 20px;
	}
}
@media screen and (max-width: 520px) {
	.bgVideo--block-blue,.bgVideo-arrowDown, .bgVideo--footer>:last-child{
		display: none;
	}
	.bgVideo--block-double{
		width: 80%;
	}
}