/* === Настройка цветов footer'a=== */
.curators {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  /* КУРАТОРЫ */     /* Хочешь стать частью научного прогресса? */
.curators--header,.curators--main-txt p{
  color: #FFFFFF;
}
  /* Оставть нам свою почту */
.curators--main-txt a{
  color: #02FDEA;
}
  /* Контакты */
.curators--footer p{
  color: #7F7F7F;
}

  /* Line */
  .curators--line {
  background:  #7F7F7F;
  border: 1px solid #7F7F7F;
}
/* === /Настройка цветов footer'a=== */

.curators--main-txt a{
  font-size: 14px;
}

/* === Настройка тела footer'a=== */

  /* КУРАТОРЫ ТЕХНОПОЛИСА */
.curators--header {
  display: flex;
  justify-content: center;
}

  /* Картинки по центру (3шт) */
.curators--main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

  /* Текст под картинками */
.curators--main-txt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.curators--line {
  position: relative;
  width: 100%;
}

  /* Подвал  */
.curators--footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.curators--footer>:nth-child(n){
  width: 30%;
  display: flex;
  justify-content: center;
}
.curators--footer-imagestar{
  width: 35px !important;
  height: 35px;
}
.curators--images{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.curators--img{
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
.curators--img:nth-child(1){
  background: no-repeat center url("../../images/blocks/curators/guir.png");
}
.curators--img:nth-child(2){
  background: no-repeat center url("../../images/blocks/curators/orel.png");
  background-size: 100%;

}
.curators--img:nth-child(3){
  background: no-repeat center url("../../images/blocks/curators/kurchatov.png");
}


@media(max-width: 600px){
  .curators--img{
    height: 85px;
    width: 85px;
  }
  .curators--img:nth-child(1){
    background: no-repeat center url("../../images/blocks/curators/guir.png");
    background-size: 75%;
  }
  .curators--img:nth-child(3){
    background: no-repeat center url("../../images/blocks/curators/kurchatov.png");
    background-size: 100%;
  }
  .curators p,.curators a{
    font-size: 11px;
  }
  .curators--footer-social {
    overflow: hidden;
  }
  .curators--header-txt{
    font-size: 21px;
  }
}
@media(max-width: 400px){
  .curators--img{
    height: 65px;
    width: 65px;
  }
