.health{
    display:flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: linear-gradient(180deg, #000000 7.69%, #004959 100%);
}
.health--container{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
}
.health--header{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    color: white;
}
.health--header-container{
    height: 70px;
    position: relative;
    width: 90%;
    border-top:1px solid rgb(144, 144, 144);
    border-bottom:1px solid rgb(144, 144, 144);
    display: flex;
    align-items: center;
}
.health--part{
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0;
    transition: opacity .5s linear;

}
.health--part-icon{
    background: url("../../images/svg/icons/sea.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 60px;
}
.health--part-header{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.health--text-container{
    position: relative;
    height: 200px;
    width: 70%;
}
.health--text{
    opacity: 0;
    position: absolute;
    color: white;
    transition: opacity .7s linear;
    width: 100%;
}
.health--part:nth-child(1){
    opacity: 1;
}
.health--text:nth-child(1){
    opacity: 1;
}