.info{
    display: flex;
    width: 100%;
    margin-bottom: 80px;
    justify-content: space-around;
    height:900px;
    position: relative;
    align-items: center;
}
.info--container{
    width: 800px;
    position: relative;
    height: 600px;
}
.info--gradient{
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 23.96%, rgb(0, 0, 0) 100%);
    height: 150%;
    width: 100%;
    z-index: 1;
}
.info--block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--blue-light);
    width: 170px;
    height: 170px;
    color: var(--blue-light);
    position: absolute;
    transition: all linear 0.3s;
    background-color: black;
    z-index: 2;
    align-items: center;
}
.info--block-empty{
    display: flex;
    background: transparent;
    border: 1px solid var(--red-dark);
    width: 170px;
    height: 170px;
    position: absolute;
    transition: all linear 0.3s;
    background-color: black;
    z-index: 1;
}

.info--block-empty:hover{
    background-color: var(--red-dark);
}
.info--block:hover {
    background-color: var(--blue-light);
    color: black;
}
.info--block-header{
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    margin: 0;
    width: fit-content;
    z-index: 2;
}
.info--block-text{
    font-weight: 200;
    font-size: 24px;
    line-height: 44px;
    margin: 0;
    z-index: 2;
    font-family: raleway_m,sans-serif;

}
.info--block:nth-child(1){
    top: 0;
    right: 40%;
}
.info--block:nth-child(2){
    bottom: 25%;
    left: 18%;
}
.info--block:nth-child(3){
    right: 10%;
    bottom: 10%;
}
.info--block:nth-child(4){
    right: 0%;
    bottom: 46%;
    border: 1px solid var(--blue-light);
    color: black;
    background-color: var(--blue-light);
    cursor: pointer;
    letter-spacing: 0.085rem;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.info--block:nth-child(4):hover{
    background-color: black;
    color: var(--blue-light);
}
.info--block-empty:nth-child(5){
    top: 10%;
    right: 26%;
}
.info--block-empty:nth-child(6){
    bottom: 15%;
    left: 40%;
}
.info--block-empty:nth-child(7){
    right: 20%;
    bottom: 27%;
}
.info--block-empty:nth-child(8){
    top: 27%;
    left: 10%;
}
.info--text-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    padding: 30px;
    z-index: 3;
}
.info--text{
    width: 100%;
    color: white;
    z-index: 1;
    min-height:150px;
    font-family: raleway_m,sans-serif;
}
@media(max-width:1350px){
    .info--image{
        width: 35vw;
    }
}
@media(max-width:880px){
    .info{
        margin-bottom: 40px;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
    }
    
    .info--image{
        height: 300px;
        width: 100%;
    }
    .info--image::before{
        display: none;
    }
}
