.science{
    /* Научная деятельность */

    font-size: 24px;
    line-height: 29px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
	transition: all 0.5s linear;
}
.science a{
    color: red;
}
.science a:hover{
    opacity: 0.6;
}

.science--directions{
    display: grid;
    grid-template-columns: 1fr 450px 1fr;
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
}
.science--direction{
    display: flex;
    justify-content: space-between;
}
.science--direction{
    grid-column: 1 / 3;
    grid-row: 1;
}
.science--direction:nth-child(2n){
    position: relative;
    flex-direction: row-reverse;
    text-align: right;
    grid-column: 2 / 4;
    grid-row: 1;
}
.science--direction-text{
    position: relative;
    max-width: 295px;
    padding: 30px;
}
.science--direction-active .science--direction-text{
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px 1px black;
    border-radius: 10px;
}
.science--preview{
    -moz-background-size: cover; /* Firefox 3.6+ */
	-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: cover; /* Opera 9.6+ */
	background-size: cover; /* Современные браузеры */
}
.science--direction-active .science--preview{
    z-index: 99;
}
.science--preview{
    position: relative;
    max-width:450px; 
    max-height:550px;
    box-shadow: black 0px 3px 11px 0px;
}
.science--direction:nth-child(2n) .science--preview{
    top:-20px;
    left: 20px;
}
.science--direction-3d{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 0;
}
.science--direction:nth-child(2n) .science--direction-3d{
    justify-content: flex-start;
}      
.science--arrows button{
    background-color: transparent;
    border: none;
}
.science--arrows button:hover{
    filter: opacity(0.6);
}
.science--arrows button:first-child{
    transform: rotateY(180deg);
}
.science--header{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
@media screen and (max-width: 1330px) {
    .science--direction-text{
        padding: 10px;
        width: 250px;
    }
}

@media screen and (max-width: 1200px) {
    .science{
        font-size: 18px;
        line-height: 22px;
        padding: 40px;
    }
    .science--directions{
        display: grid;
        grid-template-columns: 1fr 350px 1fr;
    }
    .science--preview{
        position: relative;
        max-width:350px; 
        max-height:450px;
    }
    .science--direction-text{
        padding: 10px;
        width: 35%;
    }
   
}
@media screen and (max-width: 950px) {
    .science{
        padding: 20px;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
    }
    .science--arrows{
        display: none;
    }
    .science--directions{
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .science--direction{
        padding: 20px 0;
        text-align: right;
    }
    .science--direction:nth-child(2n) {
        left: 0;
        text-align: left;
    }
    .science--preview{
        position: relative;
        max-width:400px; 
        max-height:450px;
        left: 0;
        margin: 0 30px;
    }
    .science--direction:nth-child(2n) .science--preview{
        top: 0;
    }
 
    .science--direction-text{
        max-width: 250px;
        padding: 15px;
    }
}
@media screen and (max-width: 650px) {
    .science{
        padding:0;
        align-items: center;
        font-size: 14px;
        line-height: 16px;
    }
    .science--direction{
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 0;
    }
    .science--preview{
        position: absolute;
        padding: 0;
        width: 100%;
        z-index: -1;
        max-width: none;
        max-height: none;
        margin: 0;
    }
    .science--direction:nth-child(2n) .science--preview{
        left: 0;
    }
    .science--direction-text{
        padding: 0 20px;
        width: 30%;
        min-width: 150px;
        background: rgb(255 255 255 / 66%);
        backdrop-filter: blur(5px);
    }
    
    .science--direction-3d{
        padding: 20px 0;
    }
    .science--direction-3d :where(.button_text, .border_button) {
        width: 100%;
    }
   
    .science--direction-3d img{
        display: none;
    }
}