.science{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
	transition: all 0.5s linear;
}
.science a{
    color: black;
    letter-spacing: 0.185em;
    text-decoration: none;
    border-bottom: 1px solid gray;
    width: fit-content;
    padding-bottom: 5px;
    margin: 10px 0;
}
.science--header{
    width: fit-content;
}
.science--header>p{
    font-size: 24px;
}
.science--directions{
    display: flex;
    height: 400px;
    width: 150vw;
    align-items: stretch;
    justify-content: space-between;
}
.science--direction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
}
.science--direction-inactive{
    opacity: 0.3;
}
.science--direction-header{
    font-size: 64px;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.185rem;
}
.science--preview{
    width: 500px;
    height: 500px;
    align-self: flex-end;
    background: url("../../images/blocks/science0.jpg");
    -moz-background-size: cover; /* Firefox 3.6+ */
	-webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: cover; /* Opera 9.6+ */
	background-size: cover; /* Современные браузеры */
}
.science--preview:nth-of-type(2){
    background: url("../../images/blocks/science0.jpg");
    -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover; /* Современные браузеры */
}

.science--arrows{
    display: flex;
    justify-content: space-between;
    width: 40%;
    padding: 30px 0 45px 0;
}
.science--arrow{
    width: 40px;
    height: 6px;
    background: url(../../images/svg/arrow.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
}
.science--arrow:hover{
    /*animation*/
    background-repeat: repeat-x;
    animation: scienceMove 1s linear ;

}
.science--arrow:first-of-type{
    transform: rotateY(180deg);
}
.science--arrow-disabled{
    opacity: 0.6;
    cursor: unset;
}
.science--arrow-disabled:hover{
    animation: none;
}
@keyframes scienceMove {
    from {background-position: 0px;} to {background-position: 40px;}
}
@-webkit-keyframes scienceMove {
    from  {background-position: 0px;} to {background-position: 40px;}
}
@-o-keyframes scienceMove {
    from  {background-position: 0px;} to {background-position: 40px;}
}
@-moz-keyframes scienceMove {
    from  {background-position: 0px;} to {background-position: 40px;}
} 
@media screen and (max-width: 1330px) {
    .science--direction-text{
        padding: 10px;
        width: 250px;
    }
}

@media screen and (max-width: 1200px) {
    .science{
        font-size: 18px;
        line-height: 22px;
        padding: 40px;
    }
    .science--directions{
        display: grid;
        grid-template-columns: 1fr 350px 1fr;
    }
    .science--preview{
        position: relative;
        max-width:350px; 
        max-height:450px;
    }
    .science--direction-text{
        padding: 10px;
        width: 35%;
    }
   
}
@media screen and (max-width: 950px) {
    .science{
        padding: 20px;
        align-items: center;
        font-size: 18px;
        line-height: 22px;
    }
    .science--arrows{
        display: none;
    }
    .science--directions{
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .science--direction{
        padding: 20px 0;
        text-align: right;
    }
    .science--direction:nth-child(2n) {
        left: 0;
        text-align: left;
    }
    .science--preview{
        position: relative;
        max-width:400px; 
        max-height:450px;
        left: 0;
        margin: 0 30px;
    }
    .science--direction:nth-child(2n) .science--preview{
        top: 0;
    }
 
    .science--direction-text{
        max-width: 250px;
        padding: 15px;
    }
}
@media screen and (max-width: 650px) {
    .science{
        padding:0;
        align-items: center;
        font-size: 14px;
        line-height: 16px;
    }
    .science--direction{
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 0;
    }
    .science--preview{
        position: absolute;
        padding: 0;
        width: 100%;
        z-index: -1;
        max-width: none;
        max-height: none;
        margin: 0;
    }
    .science--direction:nth-child(2n) .science--preview{
        left: 0;
    }
    .science--direction-text{
        padding: 0 20px;
        width: 30%;
        min-width: 150px;
        background: rgb(255 255 255 / 66%);
        backdrop-filter: blur(5px);
    }
    
    .science--direction-3d{
        padding: 20px 0;
    }
    .science--direction-3d :where(.button_text, .border_button) {
        width: 100%;
    }
   
    .science--direction-3d img{
        display: none;
    }
}